%table{:class=>"display", :id=>"example"}
  %thead
    %tr
      %th Action Plan
      %th Implementation Date
      %th Revision Date
      %th Last Review
      %th Next Review
  %tbody
    - ActionPlan::PLANS.each do |p|
      %tr{:class=>"gradeA"}
        - format = CGI::escape(CGI::escape(p.format))
        - anchor = (p.format_version ? "#{p.format} (#{p.format_version})" : p.format) 
        %td
          %a{:href => "/actionplan/#{format}/#{p.format_version}"}= anchor
        %td= p.implementation_date
        %td= p.revision_date
        %td= p.review_date
        %td= p.next_review
